:root {
  --main-color-white: #ffffff;
  --primary-tekst-color: #757575;
  --title-tekst-color: #212121;
  --accent-color: #2196f3;
  --accent-active: #188ce8;
  --background-color: #f5f4fa;
  --backgroung-color-accent: #2f303a;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-tekst-color);
  background-color: var(--main-color-white);
}

h3 {
  color: var(--title-tekst-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
}
.accent {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-tekst-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link .current {
  color: var(--accent-color);
}

/* cont-nav */

.cont-nav {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.cont-nav a:hover,
.cont-nav a:focus {
  color: #2196f3;
}

/* hero */

.hero {
  background-color: var(--backgroung-color-accent);
  color: var(--main-color-white);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 40);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn a:active {
  color: var(--accent-active);
}

.btn {
  font-family: inherit;
  color: var(--title-tekst-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.section-team {
  background-color: var(--background-color);
}

.portfolio-nav a:hover,
.portfolio-nav a:focus {
  color: var(--accent-color);
}

.btn-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-white);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* section1 */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-tekst-color);
}

/* adress */

.footer {
  background-color: var(--backgroung-color-accent);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--main-color-white);
}

.foofooter-address-list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.street {
  font-family: 'Roboto';
  font-style: normal;
  color: #ffffff;
}

.footer-email {
  font-family: 'Roboto';
  font-style: normal;
}

.footer-tel {
  font-family: 'Roboto';
  font-style: normal;
}
